.parte0{
    display: flex;
}

.parte1, .parte2 {
    margin: 10px 0;
}

.parte1{
    align-self: center;
    margin-right: auto;
    float: left;
}

.parte2{
    align-self: center;
    margin-left: auto;
    float: right;
}

body{
    margin-right: 20%;
    margin-left: 20%;
}